<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @registration.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @registration.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Age:</b>
  <%= @registration.age %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
